## Percent Change 函数

pandas 的 percent change 函数用来计算当前值与指定周期(periods 默认为1)的比值的。 

- 先以一年内的营业额，利润作为例子

In [40]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'income': [10, 20, 30, 40, 50, 40, 50, 20, 20, 30, 20, 50],
    'profits':[5, 15, 25, 30, 40, 20, 20, 5, 15, 15, 20, 50]
    })

In [41]:
df

    income  profits
0       10        5
1       20       15
2       30       25
3       40       30
4       50       40
5       40       20
6       50       20
7       20        5
8       20       15
9       30       15
10      20       20
11      50       50

In [42]:
## 计算本月与上月，营业额及利润的环比增长率。即拿 （本月 - 上月）/ 上月
df.pct_change() # 默认 periods = 1

      income   profits
0        NaN       NaN
1   1.000000  2.000000
2   0.500000  0.666667
3   0.333333  0.200000
4   0.250000  0.333333
5  -0.200000 -0.500000
6   0.250000  0.000000
7  -0.600000 -0.750000
8   0.000000  2.000000
9   0.500000  0.000000
10 -0.333333  0.333333
11  1.500000  1.500000

In [43]:
## 计算，季度的同比增长率。 即 (本月 - 上季度对应月份)/上长度对应月份
print(df)
df.pct_change(periods=3)

    income  profits
0       10        5
1       20       15
2       30       25
3       40       30
4       50       40
5       40       20
6       50       20
7       20        5
8       20       15
9       30       15
10      20       20
11      50       50

      income   profits
0        NaN       NaN
1        NaN       NaN
2        NaN       NaN
3   3.000000  5.000000
4   1.500000  1.666667
5   0.333333 -0.200000
6   0.250000 -0.333333
7  -0.600000 -0.875000
8  -0.500000 -0.250000
9  -0.400000 -0.250000
10  0.000000  3.000000
11  1.500000  2.333333

In [44]:
## 默认 axis=0, 那么计算实收率的话，就要按 columns 来算了，所以指定 axis=1
# 计算实收率
print(df)
pct = df.pct_change(axis=1)
print(pct)
df['ratio'] = pct['profits'].apply(lambda x: (1 + x) * 100)
df

    income  profits
0       10        5
1       20       15
2       30       25
3       40       30
4       50       40
5       40       20
6       50       20
7       20        5
8       20       15
9       30       15
10      20       20
11      50       50
    income   profits
0      NaN -0.500000
1      NaN -0.250000
2      NaN -0.166667
3      NaN -0.250000
4      NaN -0.200000
5      NaN -0.500000
6      NaN -0.600000
7      NaN -0.750000
8      NaN -0.250000
9      NaN -0.500000
10     NaN  0.000000
11     NaN  0.000000

    income  profits       ratio
0       10        5   50.000000
1       20       15   75.000000
2       30       25   83.333333
3       40       30   75.000000
4       50       40   80.000000
5       40       20   50.000000
6       50       20   40.000000
7       20        5   25.000000
8       20       15   75.000000
9       30       15   50.000000
10      20       20  100.000000
11      50       50  100.000000